# PlatformIO
.pio/
.vscode/

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info
dist/
build/
env/

# General
.idea/
*.dat
*.pid
*.seed
*.cache
*~
*.ini~
**/Thumbs.db
**/.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints
